html {
    width: 100%;
    margin: 0;
    min-height: 100%;
}

.background {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: -2;
    filter: brightness(1.2);
    object-fit: cover;
    top: 0%;
    left: 0%;
}

.headerbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.87);
    position: fixed;
    z-index: +9;
    top: 0%;
    left: 0%;
}

.lefthead {
    width: 16em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: center;
}

.logo a {
    flex: auto;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 5.2em;
    letter-spacing: 0.1em;
    font-family: "melancholy";
    font-weight: bold;
    text-decoration: none;
}

.logoimagecontainer {
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-left: 50px;
}

.logoimagecontainer img {
    width: 60px;
}

.righthead {
    position: relative;
    color: white;
    width: 27em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5vw;
}

.righthead a {
    font-size: 1.1em;
    text-decoration: none;
    color:rgb(221, 221, 221);
    font-family: "izayoi";
    position: relative;
    padding: 0 6px;
}

.righthead a:hover {
    color: lightblue;
}

.righthead img {
    width: 40px;
    height: auto;
}

.righthead:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, rgb(0, 217, 255), rgb(0, 4, 255));
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;

}

.stomach {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    position: relative;
}

.topcontent {
    position: absolute;
    top: 250px;
    left: 10%;
    right: 10%;
    margin-bottom: 300px;
    background-color: rgb(0, 0, 0, 0.87);
    padding: 7px;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2em rgb(69, 69, 69);
}


.welcome {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}

.welcome h1 {
    color: white;
    text-shadow: 0 0 0.8em rgb(255, 255, 255);
}

.welcome p {
    color: white;
    font-size: large;
}

#pic1 {
    flex: 1;
    align-content: center;
    width: 50vw;
}

#pic1 img{
    width: 35vw;
    height: auto;
}

.movecontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.middle {
    position: absolute;
    flex: auto;
    padding: 20px;
    left: 0%;
    right: 0%;
    width: 100%;
    background-color: rgb(189, 50, 50);
    height: 20em;
    top: 100%;
}

.middlecontent {
    margin: auto;
    width: 85vw;
    height: 85vw;
}

.middleh1 {
    text-align: center;
    color: white;
}

.middlemain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(189, 50, 50);
}

.rias, .akeno, .koneko, .asia,
.xenovia, .irina, .rossweisse {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.rias img, .akeno img, .koneko img, .asia img,
.xenovia img, .irina img, .rossweisse img {
    width: 10em;
    height: 12em;
    object-fit: cover;
    border: 0.3em solid rgb(255, 255, 255);
    border-radius: 1.5em;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
    margin: -0.5em -1em -1em -1em;
    z-index: 1;
}

.rias img:hover, .akeno img:hover, .koneko img:hover,
.asia img:hover, .xenovia img:hover, 
.irina img:hover, .rossweisse img:hover {
    box-shadow: 0 10px 30px aqua;
    transform: scale(1.05);
}

.rias p, .akeno p, .koneko p, .asia p,
.xenovia p, .irina p, .rossweisse p {
    color: aliceblue;
    font-size: large;
}

.bottom {
    flex: auto;
}

.bottombox {
    position: absolute;
    background-color: transparent;
    margin-top: 85em;
    left: 10%;
    right: 10%;
    padding: 7px;
    border-radius: 1em;
    text-align: center;
}

.bottomwriting {
    color: white;
    font-size: 30px;
    text-shadow: 0 0 0.8em #ffffff;
}

.bottomwriting h3 {
    font-style: italic;
}

.bottomwriting p {
    font-family: cursive;
}

.footer {
    position: absolute;
    flex: auto;
    padding: 20px;
    display: block;
    margin: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 40%;
    top: 250%;
    z-index: -1;
    background-color: rgb(189, 50, 50);
}

.footer1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 20%;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 60%;
    background-color: rgb(35, 35, 150);
    position: absolute;
    margin: auto;
    color: aliceblue;
    font-size: small;
    text-align: center;
    padding: 7px;
    border-radius: 1em;
}

.footer1writing {
    flex: 2;
    font-size: large;
}

.footer1button {
    flex: 1;
    text-align: center;
}

.footer1button a {
    text-decoration: none;
}

#contactbutton {
    margin: auto;
    color: white;
    border: 0.1em solid rgb(255, 255, 255);
    border-radius: 0.5em;
    transition: 0.3s;
    background-color: royalblue;
}

#contactbutton:hover {
    box-shadow: 0 5px 10px aqua;
    transform: scale(1.05);
}

.footer2 {
    top: 90%;
    left: 0%;
    right: 0%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 10%;
    color: aliceblue;
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

@media (max-width: 1100px) {
    .topcontent {
        flex-direction: column;
    }
    .welcome {
        margin: 4em auto 0 auto;
        width: 65vw;
    }
    #pic1 {
        margin-top: 4em;
    }
    #pic1 img {
        width: 60vw;
    }   
    .middle {
        top: 130%;
        height: 25em;
    }
}

@media (max-width: 1300px) {
    .footer {
        height: 35em;
    }
    .footer1 {
        flex-direction: column;
        height: 30em;
    }
    .footer1writing {
        text-align: center;
    }
    .footer1button {
        margin: 1em auto 0 auto;
    }
    .footer1writing {
        align-items: center;
        padding: 0;
        margin: 0 1em;
    }
    .footer1writing {
        text-align: center;
    }
}

@media (max-width: 900px) {
    .footer {
        height: 55em;
    }
    .footer1 {
        height: 50em;
    }
    .rightBarStuff {
        display: none;
    }
    .menuHamburger {
        display: flex;
    }
    .headerbar {
        width: 100vw;
    }
    .righthead {
        display: flex;
        justify-content: flex-end;
        margin-right: 7vw;
    }
    #pic1 img{
        width: 70vw;
    }
}